#PROBLEM STATEMENT
'''1.Import the data into Python environment as a Pandas DataFrame.
2.Check for missing values, if any and drop the corresponding rows.
3.Find the district that gets the highest annual rainfall.
4.Display the top 5 states that get the highest annual rainfall.
5.Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.
6.Display the state-wise mean rainfall for all the months using a pivot table.
7.Display the count of districts in each state.
8.For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.'''

In [25]:
import pandas as pd

# Step 1: Import the data into Python as a Pandas DataFrame
url = 'rainfall.csv'  # Replace with the actual URL or file path
df = pd.read_csv(url)

In [4]:
# Step 2: Check for missing values and drop corresponding rows
df.dropna(inplace=True)

In [6]:
# Step 3: Find the district that gets the highest annual rainfall
df['Annual'] = df.iloc[:, 2:].sum(axis=1) 
max_rainfall_district = df.loc[df['Annual'].idxmax(),'DISTRICT']
print(f"District with the highest annual rainfall: {max_rainfall_district}")

District with the highest annual rainfall: TAMENGLONG

In [8]:
# Step 4: Display the top 5 states that get the highest annual rainfall
state_rainfall = df.groupby('STATE_UT_NAME')['Annual'].sum().sort_values(ascending=False)
top_5_states = state_rainfall.head(5)
print("Top 5 states with the highest annual rainfall:")
print(top_5_states)

Top 5 states with the highest annual rainfall:
STATE_UT_NAME
UTTAR PRADESH        407019.6
ASSAM                397606.2
MADHYA PRADESH       309693.0
ARUNACHAL PRADESH    281028.0
BIHAR                273726.6
Name: Annual, dtype: float64

In [15]:
df.columns

Index(['STATE_UT_NAME', 'DISTRICT', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN',
       'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'ANNUAL', 'Annual'],
      dtype='object')

In [16]:
# Step 5: Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'
columns_to_drop = ['Annual']
df.drop(columns=columns_to_drop, inplace=True)

In [18]:
# Step 6: Display the state-wise mean rainfall for all the months using a pivot table
# Adjust the column names if necessary
monthly_columns = [col for col in df.columns if col not in ['DISTRICT', 'STATE_UT_NAME', 'ANNUAL']]
pivot_table = pd.pivot_table(df, index='STATE_UT_NAME', values=monthly_columns, aggfunc='mean')
print("State-wise mean rainfall for all the months:")
print(pivot_table)

State-wise mean rainfall for all the months:
                                    APR         AUG         DEC        FEB  \
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS   86.966667  385.300000  159.733333  33.266667
ANDHRA PRADESH                19.873913  179.426087   15.565217   7.352174
ARUNACHAL PRADESH            275.162500  378.600000   35.956250  93.293750
ASSAM                        181.266667  377.370370   11.440741  31.714815
BIHAR                         16.865789  289.481579    5.786842   9.278947
CHANDIGARH                    14.800000  287.500000   23.400000  38.900000
CHATISGARH                    13.116667  375.338889    5.811111  10.472222
DADAR NAGAR HAVELI             0.000000  655.900000    0.000000   0.300000
DAMAN AND DUI                  0.100000  394.600000    0.450000   0.500000
DELHI                          8.900000  245.500000    8.600000  16.300000
GOA                            7.800000  683.800000   10.200000   0.050000
GUJARAT                        0.507692  257.630769    1.592308   0.392308
HARYANA                        7.619048  190.909524    7.914286  16.457143
HIMACHAL                      47.683333  322.325000   38.225000  80.450000
JAMMU AND KASHMIR             82.268182  167.918182   46.395455  91.645455
JHARKHAND                     18.662500  310.316667    6.704167  16.320833
KARNATAKA                     36.773333  209.256667   11.170000   2.696667
KERALA                       109.021429  417.950000   38.242857  16.200000
LAKSHADWEEP                   48.900000  217.500000   58.800000  14.700000
MADHYA PRADESH                 3.270000  331.048000    8.790000   9.158000
MAHARASHTRA                    6.974286  314.585714    7.417143   3.474286
MANIPUR                      150.766667  451.800000   11.788889  55.122222
MEGHALAYA                    211.228571  584.371429   11.042857  21.685714
MIZORAM                      152.600000  440.588889   15.288889  29.944444
NAGALAND                     134.227273  350.872727   10.354545  27.672727
ORISSA                        36.653333  363.346667    5.136667  22.370000
PONDICHERRY                   12.275000  116.425000  227.350000  25.425000
PUNJAB                        12.160000  172.415000   13.905000  24.480000
RAJASTHAN                      3.303030  194.554545    3.021212   4.721212
SIKKIM                       206.900000  434.600000   20.900000  77.300000
TAMIL NADU                    42.596875   91.571875   96.487500  14.021875
TRIPURA                      220.750000  356.475000   11.125000  33.650000
UTTAR PRADESH                  5.318310  291.232394    6.870423  13.157746
UTTARANCHAL                   29.815385  426.784615   20.830769  49.592308
WEST BENGAL                   56.647368  361.573684    7.363158  19.084211

                                   JAN          JUL         JUN         MAR  \
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS  61.233333   390.566667  418.666667   30.800000
ANDHRA PRADESH                6.321739   185.365217  114.369565   10.095652
ARUNACHAL PRADESH            53.687500   547.581250  491.381250  165.018750
ASSAM                        15.733333   494.844444  465.185185   77.762963
BIHAR                        13.134211   340.836842  168.781579    9.873684
CHANDIGARH                   44.300000   282.400000  120.000000   33.200000
CHATISGARH                   10.377778   375.405556  180.583333   12.977778
DADAR NAGAR HAVELI            0.400000   884.500000  385.100000    0.000000
DAMAN AND DUI                 0.550000   583.100000  276.500000    0.200000
DELHI                        16.400000   220.700000   59.800000   15.300000
GOA                           0.550000  1108.100000  908.100000    0.550000
GUJARAT                       0.784615   333.838462  139.246154    1.142308
HARYANA                      19.485714   180.361905   51.009524   13.738095
HIMACHAL                     81.925000   343.825000  108.683333   87.633333
JAMMU AND KASHMIR            77.977273   172.090909   53.604545  119.986364
JHARKHAND                    15.837500   333.854167  198.775000   16.516667
KARNATAKA                     2.026667   280.700000  204.880000    7.163333
KERALA                        9.542857   724.328571  658.707143   31.071429
LAKSHADWEEP                  20.800000   287.700000  330.200000   11.800000
MADHYA PRADESH               12.892000   311.088000  114.686000    7.486000
MAHARASHTRA                   4.791429   388.894286  240.980000    5.997143
MANIPUR                      22.600000   498.055556  487.088889   82.411111
MEGHALAYA                    14.900000   857.742857  757.228571   74.757143
MIZORAM                      11.566667   452.311111  429.833333   96.255556
NAGALAND                     18.481818   395.036364  340.318182   63.018182
ORISSA                       10.810000   332.316667  212.516667   27.453333
PONDICHERRY                  26.750000    78.025000   47.675000   16.725000
PUNJAB                       25.965000   190.610000   46.325000   25.900000
RAJASTHAN                     5.348485   195.278788   54.096970    3.815152
SIKKIM                       47.550000   499.200000  483.800000  130.600000
TAMIL NADU                   18.906250    72.606250   50.321875   18.068750
TRIPURA                      11.225000   414.975000  465.425000   93.625000
UTTAR PRADESH                17.183099   280.067606   90.770423   10.107042
UTTARANCHAL                  49.892308   432.792308  165.715385   51.669231
WEST BENGAL                  15.031579   412.989474  308.531579   27.973684

                                    MAY         NOV         OCT         SEP
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS  358.833333  263.200000  301.100000  421.733333
ANDHRA PRADESH                48.765217   58.965217  138.600000  160.373913
ARUNACHAL PRADESH            300.262500   43.187500  176.768750  366.475000
ASSAM                        333.870370   24.922222  136.448148  303.800000
BIHAR                         51.673684    6.715789   64.747368  223.378947
CHANDIGARH                    30.100000    9.900000   31.800000  154.300000
CHATISGARH                    17.483333    8.494444   61.844444  214.444444
DADAR NAGAR HAVELI             7.400000   10.500000   38.600000  391.400000
DAMAN AND DUI                  4.150000   12.400000   35.550000  227.600000
DELHI                         19.300000    5.600000   20.500000  110.200000
GOA                           87.750000   35.000000  155.700000  280.900000
GUJARAT                        4.803846   10.826923   25.103846  148.473077
HARYANA                       14.642857    5.266667   18.428571   88.723810
HIMACHAL                      54.358333   16.908333   39.308333  150.266667
JAMMU AND KASHMIR             65.136364   27.159091   34.181818   78.254545
JHARKHAND                     45.875000   10.212500   79.404167  250.958333
KARNATAKA                     88.166667   44.350000  143.356667  164.076667
KERALA                       244.728571  151.535714  290.907143  245.157143
LAKSHADWEEP                  171.700000  117.700000  157.100000  163.100000
MADHYA PRADESH                 7.006000   10.042000   35.270000  181.574000
MAHARASHTRA                   19.925714   18.588571   75.648571  191.311429
MANIPUR                      213.377778   56.000000  189.222222  278.400000
MEGHALAYA                    430.042857   39.571429  225.571429  454.700000
MIZORAM                      321.322222   64.633333  229.822222  372.155556
NAGALAND                     213.381818   38.554545  121.154545  227.627273
ORISSA                        70.723333   30.400000  116.056667  238.336667
PONDICHERRY                   40.825000  395.150000  271.950000  119.900000
PUNJAB                        16.165000    6.085000   21.700000   92.835000
RAJASTHAN                     10.627273    6.254545   14.430303   86.145455
SIKKIM                       323.550000   30.950000  209.850000  373.150000
TAMIL NADU                    67.531250  184.625000  186.928125  116.340625
TRIPURA                      391.575000   43.300000  176.650000  260.350000
UTTAR PRADESH                 15.561972    4.576056   45.525352  175.074648
UTTARANCHAL                   58.392308    9.238462   58.838462  204.476923
WEST BENGAL                  139.489474   19.389474  124.373684  317.978947

In [20]:
# Step 7: Display the count of districts in each state
district_count = df['STATE_UT_NAME'].value_counts()
print("Count of districts in each state:")
print(district_count)

Count of districts in each state:
STATE_UT_NAME
UTTAR PRADESH                  71
MADHYA PRADESH                 50
BIHAR                          38
MAHARASHTRA                    35
RAJASTHAN                      33
TAMIL NADU                     32
KARNATAKA                      30
ORISSA                         30
ASSAM                          27
GUJARAT                        26
JHARKHAND                      24
ANDHRA PRADESH                 23
JAMMU AND KASHMIR              22
HARYANA                        21
PUNJAB                         20
WEST BENGAL                    19
CHATISGARH                     18
ARUNACHAL PRADESH              16
KERALA                         14
UTTARANCHAL                    13
HIMACHAL                       12
NAGALAND                       11
MIZORAM                         9
MANIPUR                         9
DELHI                           9
MEGHALAYA                       7
SIKKIM                          4
TRIPURA                         4
PONDICHERRY                     4
ANDAMAN And NICOBAR ISLANDS     3
GOA                             2
DAMAN AND DUI                   2
DADAR NAGAR HAVELI              1
CHANDIGARH                      1
LAKSHADWEEP                     1
Name: count, dtype: int64

In [21]:
# Step 8: For each state, display the district that gets the highest rainfall in May and the recorded rainfall
highest_may_rainfall = df.loc[df.groupby('STATE_UT_NAME')['MAY'].idxmax()][['STATE_UT_NAME', 'DISTRICT', 'MAY']]
print("District with the highest rainfall in May for each state:")
print(highest_may_rainfall)

District with the highest rainfall in May for each state:
                   STATE_UT_NAME       DISTRICT    MAY
1    ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN  374.4
544               ANDHRA PRADESH  VISAKHAPATNAM   96.6
10             ARUNACHAL PRADESH     PAPUM PARE  453.0
31                         ASSAM      KARIMGANJ  604.0
194                        BIHAR     KISHANGANJ  155.7
306                   CHANDIGARH     CHANDIGARH   30.1
519                   CHATISGARH         BASTAR   38.6
479           DADAR NAGAR HAVELI            DNH    7.4
480                DAMAN AND DUI          DAMAN    7.4
307                        DELHI      NEW DELHI   19.3
488                          GOA      NORTH GOA   94.3
458                      GUJARAT          DANGS   12.5
303                      HARYANA      PANCHKULA   27.9
341                     HIMACHAL  LAHUL & SPITI   91.7
349            JAMMU AND KASHMIR      BARAMULLA  111.4
154                    JHARKHAND          PAKUR   86.1
598                    KARNATAKA          UDUPI  193.8
628                       KERALA      ERNAKULAM  300.4
640                  LAKSHADWEEP    LAKSHADWEEP  171.7
451               MADHYA PRADESH  ANUPPUR(SHAHD   19.9
493                  MAHARASHTRA       KOLHAPUR   60.2
55                       MANIPUR     TAMENGLONG  539.9
46                     MEGHALAYA  EAST KHASI HI  733.7
62                       MIZORAM         AIZAWL  351.4
75                      NAGALAND          WOKHA  325.6
135                       ORISSA       GAJAPATI  136.8
592                  PONDICHERRY    PONDICHERRY   43.6
325                       PUNJAB       RUPNAGAR   25.6
390                    RAJASTHAN      JHUNJHUNU   20.7
92                        SIKKIM   NORTH SIKKIM  355.4
563                   TAMIL NADU    KANYAKUMARI  141.5
82                       TRIPURA  NORTH TRIPURA  440.1
234                UTTAR PRADESH      BALRAMPUR   38.6
279                  UTTARANCHAL     UTTARKASHI  102.1
86                   WEST BENGAL    COOCH BEHAR  345.4